<div class = "photoList">
  <img src="{{photoList.link}}" class ="photo">
  <h1>Author: {{photoList.author}}</h1>
  <h2>Description: {{photoList.description}}</h2>

</div>
<form method="POST" action="/gallery/{{photoList.id}}?_method=DELETE">
  <input type="submit" value ="delete">
</form>

<form method="GET" action="/gallery/{{photoList.id}}/edit">
  <input type="submit" value="edit">
</form>

